.git
.gitignore
.gitattributes

.github/
.agents/
.claude/
.codex/
.gemini/
.vscode/

*.md
LICENSE
docs/

coverage/
*.out
bin/*
!bin/mecontrola
.task/
.tools/

deployment/
scripts/
taskfiles/

.env
.env.*
!.env.example
